<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>增加资产信息</title>
</head>

<body>
<form action="/add" method="post">
    <input name="id" type="hidden" value="" ><br/>
请输入:<br/>
姓名:<input name="username" type="text" ><br/>
部门:<input name="department" type="text" ><br/>
设备编号:<input name="device_id" type="text" ><br/>
设备种类:<input name="device_variety" type="text" ><br/>
设备子类:<input name="device_sub_variety" type="text" ><br/>
设备型号:<input name="device_type" type="text" ><br/>
出厂编号:<input name="serial_number" type="text" ><br/>
使用状态:<input name="usage_state" type="text" ><br/>
备注:<input name="remark" type="text" ><br/>
   <input type="submit" value="提交" >
</form>
</body>

</html>
