<html>
<head>
<style type="text/css">
h1 {color:red}
p {color:blue}
</style>
</head>

<body background="1.jpg">
<!-- <body bgcolor="#FF6600"> -->
<h1 align='center'>春晓</h1>

<p align='center'>
    春眠不觉晓，
    处处闻啼鸟。
</p>
<p align='center'>
    夜来风雨声，
    花落知多少。
</p>

<p align='center'>注意: 浏览器忽略了源代码中的排版（省略了多余的空格和换行）。</p>

	 <table border="1">
       <tr>
         <th>Month</th>
         <th>Savings</th>
       </tr>
       <tr>
         <td>January</td>
         <td>$100</td>
       </tr>
     </table>
</body>

</html>